<html>
<head>
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<link rel="stylesheet" href="/static/main.css">
</head>
<body style="background-image: url('/static/img/bg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin-top: -7%;">
	<div style="position: absolute; top: 0px; height: 100%; width: 100%">
	<div style="position: relative; top: 7.65%; left: 16.08%; width: 69.7%; height: 63.5%;overflow-y: scroll;overflow-x: hidden;">
	<form autocomplete="off" class="form-inline global-search">
		<!-- <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
			G
			<span style="color: #EA4335; ">  A  </span>
			<span style="color: #FBBC05; ">  M  </span>
			E
			<span style="color: #34A853; ">  S  </span>
			<span style="color: #EA4335; ">  2  </span>
			<span style="color: #FBBC05; ">  A  </span>
			<span style="color: #EA4335; ">  N  </span>
			I
			<span style="color: #34A853; ">  M  </span>
			<span style="color: #EA4335; ">  E  </span> -->
				<!--<span style="color: #FBBC05; ">  E  </span>
												 R
												 <span style="color: #34A853; ">  S  </span>-->
		 <!-- </h1> -->
		<br>
		<a href="/">
			<IMG src="/static/img/logo.png">
		</a>
		<br>
		<br>
		<p style="font-size: 25px">Anime Recommendations Based on Game Preferences</p>

		<br>
		<br>
		<br>
		<div class="row" style="width: 50%">
			<div class="col-sm-3"></div>
			<div class="col-sm-3"><h3><a href="https://games0anime.herokuapp.com/" target="_blank">First Prototype</a></h3></div>
			<div class="col-sm-3"><h3><a href="https://games1anime.herokuapp.com/" target="_blank">Second Prototype</a></h3></div>
			<div class="col-sm-3"></div>
		</div>

	</form>

	<form class="form-inline global-search" style="width: 90%; padding-left: 10%;">
		<h3>FAQ</h3>
		<br>
		<br>
		<button class="accordion" type="button" style="text-align:center;">
			<h3>What is Games2Anime?</h3>
		</button>
		<div class="panel">
			<div class="row">
				<br>
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div style="text-align: center;">
					
					<h4>Games2Anime is a website that recommends Anime based on Steam Games.</h4>
					</div>
					<br>
					<br>
					<div style="text-align: left;">
						<h4>Due to current world events (COVID-19), there is a greater demand for online entertainment.
							Steam recently reached a record high for concurrent users and more people than ever are consuming
							online entertainment. However, there are only so many games on Steam and many gamers may seek 
							to broaden their horizons by trying something new, like Japanese animation (anime). However, it can
							be difficult to narrow what anime to watch due to its wide variety of genres and styles.</h4>
							<br>
							<br>
							<h4>
							Thus, the goal of our
							application is to recommend anime to people based on their Steam gaming preferences.
							By giving our system a game title from Steam, it will return a list of recommended anime
							based on the similarity in reviews and game description. Each recommendation displays
							general details and a similarity rating, along with a link to its <a href="https://myanimelist.net/" target="_blank">MyAnimeList</a> page</h4>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<br>
		</div>
		<br>
		<br>
		
		<!--
		
		<button class="accordion" type="button" style="text-align:center;">
			<h3>Example Searches</h3>
		</button>
		<div class="panel">
			<div class="row">
				<br>
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div style="text-align: center;">
						<h4>Curated Searches</h4>
						<br>
						<br>
							<h4>Wallpaper Engine</h4> 
						<br>
							<h4>Rocket League</h4> 
						<br>
							<h4>Alan Pascual (ap835)</h4>
						<br> 
							<h4>Jeffrey Yao (jy398)</h4> 
						<br>
							<h4>Wenjia Zhang (wz276)</h4>
						<br>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<br>
		</div>
		<br>
		<br>
		
		-->
		
		<button class="accordion" type="button" style="text-align:center;">
			<h3>Who made Games2Anime?</h3>
		</button>
		<div class="panel">
			<div class="row">
				<br>
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div style="text-align: center;">
						<h4>We are five Cornell University Students who made this for our CS 4300 (Language and Information) Final Project! We all have a shared passion for gaming and anime.</h4>
						<br>
						<br>
							<h4>Amrit Amar (aa792)</h4> 
						<br>
							<h4>Carina Cheng (chc94)</h4> 
						<br>
							<h4>Alan Pascual (ap835)</h4>
						<br> 
							<h4>Jeffrey Yao (jy398)</h4> 
						<br>
							<h4>Wenjia Zhang (wz276)</h4>
						<br>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<br>
		</div>
		<br>
		<br>
		
		<button class="accordion" type="button" style="text-align:center;">
			<h3>How does Games2Anime work?</h3>
		</button>
		<div class="panel">
			<div class="row">
				<br>
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div style="text-align: center;">
						<h4>We compare <i>Steam Game Descriptions</i> and <i>Anime User Reviews</i> to give you a list of Anime recommendations.</h4>
					</div>
					<br>
					<br>
					<div style="text-align: left;">
						<h4>
						Games2Anime gets a list of all Anime with a MAL rating of 7.0 or above. We then remove any sequels/related movies from 
						the list (to ensure we don't recommend more than 1 show from a particular series on a search). We get the top 20 reviews
						for each anime in our list (sorted by most helpful reviews first). We then combine all the reviews and use a fancy tool
						called <a href="https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html" target="_blank">
						TfidfVectorizer</a> that converts a collection of raw documents to a matrix of TF-IDF features. We then perform dimensionality
						reduction using singular value decomposition (<a href="https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.svds.html" target="_blank">
						svds</a>) to get a matrices of words in reviews and anime based on words. We these structures, we can find similar anime 
						to words using cosine similarity. 
						</h4>
						<br>
						<br>
						<h4>
						We then get a list of all Steam Games and their descriptions. Based on the game input, we go through each word in the game's
						description and get the top anime to that word and build up a ranking based on <i>how often</i> an anime shows up across the entire
						description. After normalizing and sorting the scores, we return the top 5 anime recommendations based on the game.
						</h4>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<br>
		</div>
		<br>
		<br>
		
		<button class="accordion" type="button" style="text-align:center;">
			<h3>What do the colors in the results mean?</h3>
		</button>
		<div class="panel">
			<div class="row">
				<br>
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div style="text-align: center;">
						<h4>When looking at our results you might spot that we assign different colors for anime rating
						and similarity score based on how high the value is. Similar to most reviewing platforms,
						we use green for the best, orange for mediocre, and red for anything we would not really recommend.
						Specifically:
						</h4>
						<br>
						<br>
						<h4>Anime MAL Ratings: </h4>
						<br>
						<h4 style="color: red;">Red: 0.0 to 6.0</h4>
						<br>
						<h4 style="color: orange;">Orange: 6.0 to 7.5</h4>
						<br>
						<h4 style="color: green;">Green: 7.5 to 10.0</h4>
						<br>
						<br>
						<h4>Similarity Score: </h4>
						<br>
						<h4 style="color: red;">Red: 0% to 50%</h4>
						<br>
						<h4 style="color: orange;">Orange: 50% to 80%</h4>
						<br>
						<h4 style="color: green;">Green: 80% to 100%</h4>
						<br>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<br>
		</div>
		<br>
		<br>
		
		<button class="accordion" type="button" style="text-align:center;">
			<h3>When was Games2Anime last updated?</h3>
		</button>
		<div class="panel">
			<div class="row">
				<br>
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div style="text-align: center;">
						<h4>We store the game/anime details offline for faster searches and less API calls. 
						Thus, the website data needs to be periodically updated every so often.
						</h4>
						<br>
						<br>
						<h4>Last Updated: 5/3/2020 </h4>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<br>
		</div>
		<br>
		<br>
		
	</form>
	</div>
	</div>
	<script>
		//Accordion script
		function toggleAccordion(elements) {
			var i;
			for (i = 0; i < elements.length; i++) {
				elements[i].addEventListener("click", function() {
					this.classList.toggle("active");
					var panel = this.nextElementSibling;
					if (panel.style.display === "block") {
						panel.style.display = "none";
					} else {
						panel.style.display = "block";
					}
				});
			}
		}
		toggleAccordion(document.getElementsByClassName("accordion"));
	</script>
</body>
<footer style="position: fixed; left: 0; bottom: 0%; width: 100%; text-align: center;">
	<p align="center", style="color: white;text-align:center">Project Name: Games2Anime: Anime Recommendations Based on Game Preferences</p>
	<p align="center", style="color: white;text-align:center">Student Name: Amrit Amar (aa792), Carina Cheng (chc94), Alan Pascual (ap835), Jeffrey Yao (jy398), Wenjia Zhang (wz276)</p>
</footer>
</html>
