<html>
<head>
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<link rel="stylesheet" href="/static/main.css">
</head>
<body style="background-image: url('/static/img/bg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin-top: -7%;">
	<div style="position: absolute; top: 0px; height: 100%; width: 100%">
	<div style="position: relative; top: 8.4%; left: 16.08%; width: 69.7%; height: 69.7%;overflow-y: scroll;overflow-x: hidden;">
		<div style="padding:20px; text-align: right;">
			<a class="about" href="/about">About</a>
		</div>
		<form autocomplete="off" class="form-inline global-search">
		<!-- <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
			G
			<span style="color: #EA4335; ">  A  </span>
			<span style="color: #FBBC05; ">  M  </span>
			E
			<span style="color: #34A853; ">  S  </span>
			<span style="color: #EA4335; ">  2  </span>
			<span style="color: #FBBC05; ">  A  </span>
			<span style="color: #EA4335; ">  N  </span>
			I
			<span style="color: #34A853; ">  M  </span>
			<span style="color: #EA4335; ">  E  </span> -->
    	        <!--<span style="color: #FBBC05; ">  E  </span>
    	                                         R
    	                                         <span style="color: #34A853; ">  S  </span>-->
		 <!-- </h1> -->
		 <div style="padding-top: 10%;">
			<a href="/">
				<IMG src="/static/img/logo.png" style="max-width: 80%; height: auto;">
			</a>
		</div>
		 <br>
		 <br>
         <p style="font-size: 20px;color: gray;">Anime Recommendations Based on Game Preferences</p>

         <br><br>

         <div class="autocomplete" style="width:50%;">
			 <input id="input" type="text" name="search" class="form-control" placeholder="Start typing a Steam Game..." style="display: inline;">
         	 <input id="steam-input" type="text" name="steam-input" class="form-control" placeholder="Enter your Steam ID from your URL https://steamcommunity.com/id/<THIS>" style="display: none;">

			 <button id="genreButton" class="btn btn-info" type="button" onclick="showCheckboxes()">▼</button>

			 <br>
			 <div class="multiselect">
				 <div id="checkboxes" style="display:none;">
				 </div>
			 </div>

		 </div>
		 <br><br>
         <button type="submit" class="btn btn-info"> Go! </button>
         <button id="swapButton" type="button" class="btn btn-info" onclick="swapInput()">Swap to Steam ID Input</button>
				 <button id="randomButton" type="button" class="btn btn-info" onclick="fillRandomGame()">Get Random Game</button>
		 </form>
     <!-- Scripts -->
<script type="text/javascript">
	var expanded = false;

	function showCheckboxes() {
	  var checkboxes = document.getElementById("checkboxes");
	  if (!expanded) {
	    checkboxes.style.display = "block";
	    expanded = true;
	  } else {
	    checkboxes.style.display = "none";
	    expanded = false;
	  }
	}

	var genreDict = {1: 'Action', 2: 'Adventure', 3: 'Cars',4: 'Comedy',5: 'Dementia',6: 'Demons',7: 'Mystery',8: 'Drama', 9: 'Ecchi',10:'Fantasy',11:'Game',13:'Historical',14:'Horror',15:'Kids',16:'Magic',17:'Martial Arts',18:'Mecha',19:'Music',20:'Parody',21:'Samurai',22:'Romance',23:'School',24:'Sci-Fi',25:'Shoujo',26:'Shoujo Ai',27:'Shounen',28:'Shounen Ai',29:'Space',30:'Sports',31:'Super Power',32:'Vampire',35:'Harem',36:'Slice of Life', 37:'Supernatural', 38:'Military', 39:'Police',40:'Psychological',41:'Thriller',42:'Seinen',43:'Josei'}

	function createGenreList(){
		console.log('called');
		var checkboxDiv = document.getElementById("checkboxes");

		for (var key in genreDict) {
			var dv = document.createElement("div");
			dv.className = "custom-control custom-checkbox";
			var cb = document.createElement("input");
			dv.appendChild(cb);
			cb.type = "checkbox";
			cb.name = "genres";
			cb.className = "custom-control-input"
			cb.value = key;
			cb.id = "genre" + key;
			cb.checked = true;

			var lb = document.createElement("label");
			dv.appendChild(lb);
			lb.htmlFor = "genre" + key;
			lb.className = "custom-control-label"
			lb.appendChild(document.createTextNode(genreDict[key]+"\u00A0"));

			checkboxDiv.appendChild(dv);
		}
	}
	createGenreList();

</script>
	 <script type="text/javascript">
        function swapInput() {
            if (document.getElementById("input").style.display == "none")	{
				document.getElementById("input").style.display = "inline";
				document.getElementById("steam-input").style.display = "none";
				replaceButtonText("swapButton", "Swap to Steam ID Input")
			} else {
				document.getElementById("input").style.display = "none";
				document.getElementById("steam-input").style.display = "inline";
				replaceButtonText("swapButton", "Swap to Steam Game Input")
			}
        }
    </script>
		<script type="text/javascript">
					function fillRandomGame(){
						var randomGames = {{ random_list|tojson }};
						document.getElementById("input").value = randomGames[Math.floor(Math.random() * 100)];
					}
		</script>
	<SCRIPT LANGUAGE="JavaScript">
	<!--
	function replaceButtonText(buttonId, text)
	{
	  if (document.getElementById)
	  {
		var button=document.getElementById(buttonId);
		if (button)
		{
		  if (button.childNodes[0])
		  {
			button.childNodes[0].nodeValue=text;
		  }
		  else if (button.value)
		  {
			button.value=text;
		  }
		  else //if (button.innerHTML)
		  {
			button.innerHTML=text;
		  }
		}
	  }
	}
	//-->
	</SCRIPT>
     <script type="text/javascript">
     	function autocomplete(inp, arr) {
	    	  /*the autocomplete function takes two arguments,
	    	  the text field element and an array of possible autocompleted values:*/
	    	  var currentFocus;
	    	  /*execute a function when someone writes in the text field:*/
	    	  inp.addEventListener("input", function(e) {
	    	  	var a, b, i, val = this.value;
	    	  	/*close any already open lists of autocompleted values*/
	    	  	closeAllLists();
	    	  	if (!val) { return false;}
	    	  	currentFocus = -1;
	    	  	/*create a DIV element that will contain the items (values):*/
	    	  	a = document.createElement("DIV");
				a.style.width = "90%"
				a.style.left = "5%"
	    	  	a.setAttribute("id", this.id + "autocomplete-list");
	    	  	a.setAttribute("class", "autocomplete-items");
	    	  	/*append the DIV element as a child of the autocomplete container:*/
	    	  	//Val Changes
	    	  	val = val.trim()
	    	  	var re = new RegExp();
	    	  	val = val.replace("'","&#39");
	    	  	var regEx = new RegExp(val, "ig");
	    	  	this.parentNode.appendChild(a);
	    	  	count = 0;
	    	  	/*for each item in the array...*/
	    	  	for (i = 0; i < arr.length; i++) {
	    	  		/*check if the item includes the substring val*/
	    	  		if (arr[i].toUpperCase().startsWith(val.toUpperCase()) || arr[i].toUpperCase().includes(" " + val.toUpperCase())) {
	    	  			/*create a DIV element for each matching element:*/
	    	  			b = document.createElement("DIV");
	    	  			/*make the matching letters bold:*/
	    	  			arr[i] = arr[i].replace("'","&#39");
	    	  			temp = arr[i].substring(arr[i].search(regEx),arr[i].search(regEx)+val.length);
	    	  			b.innerHTML = arr[i].replace(regEx,"<strong>" + temp + "</strong>");
	    	  			/*insert a input field that will hold the current array item's value:*/
	    	  			b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
	    	  			/*execute a function when someone clicks on the item value (DIV element):*/
	    	  			b.addEventListener("click", function(e) {
	    	  				/*insert the value for the autocomplete text field:*/
	    	  				inp.value = this.getElementsByTagName("input")[0].value;
	    	              /*close the list of autocompleted values,
	    	              (or any other open lists of autocompleted values:*/
	    	              closeAllLists();
	    	          	});
	    	  			a.appendChild(b);
	    	  			if(count > 6){
	    	  				return;
	    	  			}
	    	  			count++;
	    	  		}
	    	  	}
	    	  });

	    	  /*execute a function presses a key on the keyboard:*/
	    	  inp.addEventListener("keydown", function(e) {
	    	  	var x = document.getElementById(this.id + "autocomplete-list");
	    	  	if (x) x = x.getElementsByTagName("div");
	    	  	if (e.keyCode == 40) {
	    	        /*If the arrow DOWN key is pressed,
	    	        increase the currentFocus variable:*/
	    	        currentFocus++;
	    	        /*and and make the current item more visible:*/
	    	        addActive(x);
	    	      } else if (e.keyCode == 38) { //up
	    	        /*If the arrow UP key is pressed,
	    	        decrease the currentFocus variable:*/
	    	        currentFocus--;
	    	        /*and and make the current item more visible:*/
	    	        addActive(x);
	    	    } else if (e.keyCode == 13) {
	    	    	/*If the ENTER key is pressed, prevent the form from being submitted,*/
	    	    	e.preventDefault();
	    	    	if (currentFocus > -1) {
	    	    		/*and simulate a click on the "active" item:*/
	    	    		if (x) x[currentFocus].click();
	    	    	}
	    	    }
	    	});

	    	  function addActive(x) {
	    	  	/*a function to classify an item as "active":*/
	    	  	if (!x) return false;
	    	  	/*start by removing the "active" class on all items:*/
	    	  	removeActive(x);
	    	  	if (currentFocus >= x.length) currentFocus = 0;
	    	  	if (currentFocus < 0) currentFocus = (x.length - 1);
	    	  	/*add class "autocomplete-active":*/
	    	  	x[currentFocus].classList.add("autocomplete-active");
	    	  }
	    	  function removeActive(x) {
	    	  	/*a function to remove the "active" class from all autocomplete items:*/
	    	  	for (var i = 0; i < x.length; i++) {
	    	  		x[i].classList.remove("autocomplete-active");
	    	  	}
	    	  }
	    	  function closeAllLists(elmnt) {
	    	    /*close all autocomplete lists in the document,
	    	    except the one passed as an argument:*/
	    	    var x = document.getElementsByClassName("autocomplete-items");
	    	    for (var i = 0; i < x.length; i++) {
	    	    	if (elmnt != x[i] && elmnt != inp) {
	    	    		x[i].parentNode.removeChild(x[i]);
	    	    	}
	    	    }
	    	}

	    	/*execute a function when someone clicks in the document:*/
	    	document.addEventListener("click", function (e) {
	    		closeAllLists(e.target);
	    	});
	    }

	    var games = {{ game_list|tojson }};
		autocomplete(document.getElementById("input"), games);
	</script>

	<script type="text/javascript">
		function toggleKeywords(){
			console.log('here');
			var keywordsDiv = document.getElementById("keywordsDiv");
			var keywordsBreak = document.getElementById("keywordsBreak");
			var keywordsBtn = document.getElementById("keywordsButton");

			if (keywordsDiv.style.display == "none") {
				keywordsDiv.style.display = "block";
				keywordsBreak.style.display = "block";
				keywordsBtn.innerHTML = "Hide Keywords";
			} else {
				keywordsDiv.style.display = "none";
				keywordsBreak.style.display = "none";
				keywordsBtn.innerHTML = "Show Keywords";
			}
		}
	</script>

	<form class="form-inline global-search" style="width: 90%; padding-left: 10%;">
		{% if output_message.link %}
		<div class="row" style="width: 100%; height: auto">
			<div class="col-sm-3"></div>
			<div class="col-sm-6" style="margin-top: 0; text-align:center">
				<a href="{{output_message.link}}" target="_blank">
				<h3 style="margin-top: 5">{{output_message.message}}</h3></a>
			</div>
			<div class="col-sm-3" style="text-align:right; margin-top: 0">
				<button type="button" id="keywordsButton" class="keywordsBtn" onclick="toggleKeywords()">Show Keywords</button>
			</div>
		</div>
		</a>
		{% else %}
		<h3>{{output_message.message}}</h3>
		<br>
		{% endif %}
		{% if output_message.topkwords %}
			<div id="keywordsBreak" style="display: none; cursor: default;">
				<br>
			</div>
			<div id="keywordsDiv" style="display: none; cursor: default;" class="keywordsPanel " >
				<h4 style="margin-top: 0; cursor: default;">Keywords we matched on: <i>{{output_message.topkwords}}</i></h4>
			</div>
		{% endif %}
		<br>
		{% if output_message.genres %}
		<h4>Genres: {{output_message.genres}}</h4>
		{% endif %}

		{% if output_message.desc %}
		<h4>{{output_message.desc}}</h4>
		{% endif %}
		{% if data %}
		<br>
		<br>
		<br>
		{% for item in data %}
		<button class="accordion" type="button" style="text-align:center;">
			<h3>{{item.name}}</h3>
		</button>
		<div class="panel">
			<div class="row">
				<br>
				<div class="col-sm-4">
					<IMG src={{item.picture}}>
					<br>
					<h4>See on <a href="{{item.website}}" target="_blank">My Anime List</a>!</h4>
				</div>
				<div class="col-sm-8">
					<div style="text-align: left;">
						<div class="row" style="width: 100%;">
							<div class="col-sm-4">
								<h2 style=" margin-top: 0; color:
								{% if item.rating > 7.5 %}
									green
								{% elif item.rating > 6 %}
									orange
								{% else %}
									red
								{% endif %}">{{item.rating}}</h2> / 10
								<br>
								<p style="font-size: 20px; color:gray;">{{item.eps}} Episodes</p>
							</div>
							<div class="col-sm-8" style="text-align: left; margin-top:5px;">
								<h3 style="margin-top:0; color: gray;">
									Similarity Score:</h3> <h3 style=" margin-top:0; color:
									{% if item.simscore > 80 %}
										green
									{% elif item.simscore > 50 %}
										orange
									{% else %}
										red
									{% endif %}">{{item.simscore}}%</h3>
								<h5 style=" margin-top:5px; color:
									{% if item.simscore > 80 %}
										green
									{% elif item.simscore > 50 %}
										orange
									{% else %}
										red
									{% endif %}">
									<b style="color:gray;">Top words:</b>
									{% for g in item.keywords %} {{g.keyword}}{% if not loop.last %},
									{% endif %}
									{% endfor %}
								</h5>
							</div>
						</div>
						<h5 style="color:gray;"><b>Studio:</b>
							{% for g in item.studio %} {{g}}{% if not loop.last %},
							{% endif %}
							{% endfor %}
						</h5>
						<br>
						<h5 style="color:gray; margin-top:5px; padding-bottom:10px">
							<b>Genres:</b>
							{% for g in item.genre %} {{g}}{% if not loop.last %},
							{% endif %}
							{% endfor %}
						</h5><br>
						<p>{{item.description}}</p>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="row">
				{% if item.video %}
				<iframe width="560" height="315" src={{item.video}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
				</iframe>
				{% else %}
				<h5>No video available</h5>
				{% endif %}
			</div>
		</div>
		<br>
		<br>
		{% endfor %}
		{% endif %}
	</form>
	</div>
	</div>
	<script>
		//Accordion script
		function toggleAccordion(elements) {
			var i;
			elements[0].nextElementSibling.style.display = "block"
			elements[0].classList.toggle("active");
			for (i = 0; i < elements.length; i++) {
				elements[i].addEventListener("click", function() {
					this.classList.toggle("active");
					var panel = this.nextElementSibling;
					if (panel.style.display === "block") {
						panel.style.display = "none";
					} else {
						panel.style.display = "block";
					}
				});
			}
		}
		toggleAccordion(document.getElementsByClassName("accordion"));
	</script>
</body>
<footer style="position: fixed; left: 0; bottom: 0%; width: 100%; text-align: center;">
	<p align="center", style="color: white;text-align:center">Project Name: {{ name }}</p>
	<p align="center", style="color: white;text-align:center">Student Name: {{ netid }}</p>
</footer>
</html>
