<html>
<head>
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<link rel="stylesheet" href="/static/main.css">
</head>
<body style="background-image: url('/static/img/bg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin-top: -7%;">
	<div style="position: absolute; top: 0px; height: 100%; width: 100%">
	<div style="position: relative; top: 7.65%; left: 16.08%; width: 69.7%; height: 63.5%;overflow-y: scroll;overflow-x: hidden;">
	<form autocomplete="off" class="form-inline global-search">
		<!-- <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
			G
			<span style="color: #EA4335; ">  A  </span>
			<span style="color: #FBBC05; ">  M  </span>
			E
			<span style="color: #34A853; ">  S  </span>
			<span style="color: #EA4335; ">  2  </span>
			<span style="color: #FBBC05; ">  A  </span>
			<span style="color: #EA4335; ">  N  </span>
			I
			<span style="color: #34A853; ">  M  </span>
			<span style="color: #EA4335; ">  E  </span> -->
    	        <!--<span style="color: #FBBC05; ">  E  </span>
    	                                         R
    	                                         <span style="color: #34A853; ">  S  </span>-->
		 <!-- </h1> -->
		 <br>
		 <IMG src="/static/img/logo.png">
		 <br>
		 <br>
         <p style="font-size: 25px">Anime Recommendations Based on Game Preferences</p>

         <br><br>

         <div class="autocomplete" style="width:50%;">
         	<input id="input" type="text" name="search" class="form-control" placeholder="Your game here">
         </div>
         <button type="submit" class="btn btn-info"> Go! </button>
     </form>
     <!-- Scripts -->
     <script type="text/javascript">
     	function autocomplete(inp, arr) {
	    	  /*the autocomplete function takes two arguments,
	    	  the text field element and an array of possible autocompleted values:*/
	    	  var currentFocus;
	    	  /*execute a function when someone writes in the text field:*/
	    	  inp.addEventListener("input", function(e) {
	    	  	var a, b, i, val = this.value;
	    	  	/*close any already open lists of autocompleted values*/
	    	  	closeAllLists();
	    	  	if (!val) { return false;}
	    	  	currentFocus = -1;
	    	  	/*create a DIV element that will contain the items (values):*/
	    	  	a = document.createElement("DIV");
				a.style.width = "90%"
				a.style.left = "5%"
	    	  	a.setAttribute("id", this.id + "autocomplete-list");
	    	  	a.setAttribute("class", "autocomplete-items");
	    	  	/*append the DIV element as a child of the autocomplete container:*/
	    	  	this.parentNode.appendChild(a);
	    	  	count = 0;
	    	  	/*for each item in the array...*/
	    	  	for (i = 0; i < arr.length; i++) {
	    	  		/*check if the item includes the substring val*/
	    	  		if (arr[i].toUpperCase().includes(val.toUpperCase())) {
	    	  			/*create a DIV element for each matching element:*/
	    	  			b = document.createElement("DIV");
	    	  			/*make the matching letters bold:*/
	    	  			val = val.trim()
	    	  			var regEx = new RegExp(val, "ig");
	    	  			temp = arr[i].substring(arr[i].search(regEx),arr[i].search(regEx)+val.length);
	    	  			b.innerHTML = arr[i].replace(regEx,"<strong>" + temp + "</strong>");
	    	  			/*insert a input field that will hold the current array item's value:*/
	    	  			b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
	    	  			/*execute a function when someone clicks on the item value (DIV element):*/
	    	  			b.addEventListener("click", function(e) {
	    	  				/*insert the value for the autocomplete text field:*/
	    	  				inp.value = this.getElementsByTagName("input")[0].value;
	    	              /*close the list of autocompleted values,
	    	              (or any other open lists of autocompleted values:*/
	    	              closeAllLists();
	    	          	});
	    	  			a.appendChild(b);
	    	  			if(count > 6){
	    	  				return;
	    	  			}
	    	  			count++;
	    	  		}
	    	  	}
	    	  });

	    	  /*execute a function presses a key on the keyboard:*/
	    	  inp.addEventListener("keydown", function(e) {
	    	  	var x = document.getElementById(this.id + "autocomplete-list");
	    	  	if (x) x = x.getElementsByTagName("div");
	    	  	if (e.keyCode == 40) {
	    	        /*If the arrow DOWN key is pressed,
	    	        increase the currentFocus variable:*/
	    	        currentFocus++;
	    	        /*and and make the current item more visible:*/
	    	        addActive(x);
	    	      } else if (e.keyCode == 38) { //up
	    	        /*If the arrow UP key is pressed,
	    	        decrease the currentFocus variable:*/
	    	        currentFocus--;
	    	        /*and and make the current item more visible:*/
	    	        addActive(x);
	    	    } else if (e.keyCode == 13) {
	    	    	/*If the ENTER key is pressed, prevent the form from being submitted,*/
	    	    	e.preventDefault();
	    	    	if (currentFocus > -1) {
	    	    		/*and simulate a click on the "active" item:*/
	    	    		if (x) x[currentFocus].click();
	    	    	}
	    	    }
	    	});

	    	  function addActive(x) {
	    	  	/*a function to classify an item as "active":*/
	    	  	if (!x) return false;
	    	  	/*start by removing the "active" class on all items:*/
	    	  	removeActive(x);
	    	  	if (currentFocus >= x.length) currentFocus = 0;
	    	  	if (currentFocus < 0) currentFocus = (x.length - 1);
	    	  	/*add class "autocomplete-active":*/
	    	  	x[currentFocus].classList.add("autocomplete-active");
	    	  }
	    	  function removeActive(x) {
	    	  	/*a function to remove the "active" class from all autocomplete items:*/
	    	  	for (var i = 0; i < x.length; i++) {
	    	  		x[i].classList.remove("autocomplete-active");
	    	  	}
	    	  }
	    	  function closeAllLists(elmnt) {
	    	    /*close all autocomplete lists in the document,
	    	    except the one passed as an argument:*/
	    	    var x = document.getElementsByClassName("autocomplete-items");
	    	    for (var i = 0; i < x.length; i++) {
	    	    	if (elmnt != x[i] && elmnt != inp) {
	    	    		x[i].parentNode.removeChild(x[i]);
	    	    	}
	    	    }
	    	}

	    	/*execute a function when someone clicks in the document:*/
	    	document.addEventListener("click", function (e) {
	    		closeAllLists(e.target);
	    	});
	    }

	    var games = {{ game_list|tojson }};
		autocomplete(document.getElementById("input"), games);
	</script>

	<form class="form-inline global-search" style="width: 90%; padding-left: 10%;">
		<h4>{{output_message}}</h4>
		{% if data %}
		<br>
		<br>
		<br>
		{% for item in data %}
		<button class="accordion" type="button" onclick="getData()" style="text-align:center;">
			<h3>{{item.name}}</h3>
		</button>
		<div class="panel">
			<div class="row">
				<br>
				<div class="col-sm-4">
					<IMG src={{item.picture}}>
				</div>
				<div class="col-sm-8">
					<div style="text-align: left;">
						<a href="{{item.website}}">
						<h2 style=" margin-top: 0; color: 
						{% if item.rating > 7%}
							green
						{% elif item.rating > 4 %}
							yellow
						{% else %}
							red
						{% endif %}">{{item.rating}}</h2> / 10
						</a>
						<br>
						<p style="color:gray">{{item.eps}} Episodes</p>
						&emsp;
						<h5 style="color:cornflowerblue;">Tags: 
						{% for g in item.genre %} {{g}}{% if not loop.last %},
						{% endif %}
						{% endfor %}
						</h5>
						<!-- {{item.studio}} -->
						<br>
						<br>
						<p>{{item.description}}</p>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="row">
				{% if item.video %}
				<iframe width="560" height="315" src={{item.video}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
				</iframe>
				{% else %}
				<h5>No video available</h5>
				{% endif %}
			</div>
		</div>
		<br>
		<br>
		{% endfor %}
		{% endif %}
	</form>
	</div>
	</div>
	<script>
		//Accordion script
		function toggleAccordion(elements) {
			var i;
			for (i = 0; i < elements.length; i++) {
				elements[i].addEventListener("click", function() {
					this.classList.toggle("active");
					var panel = this.nextElementSibling;
					if (panel.style.display === "block") {
						panel.style.display = "none";
					} else {
						panel.style.display = "block";
					}
				});
			}
		}
		toggleAccordion(document.getElementsByClassName("accordion"));
	</script>
</body>
<footer style="position: fixed; left: 0; bottom: 22%; width: 100%; text-align: center;">
	<p align="center", style="color: white;text-align:center">Project Name: {{ name }}</p>
	<p align="center", style="color: white;text-align:center">Student Name: {{ netid }}</p>
</footer>
</html>
